body {
    background:#E4DDEB;
    margin: 0px;
    font-family: 'Montserrat', sans-serif; 
}

.navbar {
    overflow: hidden;
    background-color: #7B4AAA;
    position: fixed;
    top: 0; 
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #D3B8ED;
    border-bottom: 3px solid  white;
}

.resume {
    margin-top: 150px;
}




  

